<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="idempiere-12-dev" sequenceNumber="1739698220">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="assertj-core" version="3.22.0"/>
      <unit id="bcmail" version="1.78.1"/>
      <unit id="bcpg" version="1.78.1"/>
      <unit id="bcpkix" version="1.78.1"/>
      <unit id="bcprov" version="1.78.1"/>
      <unit id="bctsp" version="1.46.0"/>
      <unit id="bcutil" version="1.78.1"/>
      <unit id="com.diffplug.osgi.extension.sun.misc" version="0.0.0"/>
      <unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.15.4"/>
      <unit id="com.fasterxml.jackson.core.jackson-core" version="2.15.4"/>
      <unit id="com.fasterxml.jackson.core.jackson-databind" version="2.15.4"/>
      <unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-xml" version="2.15.4"/>
      <unit id="com.fasterxml.jackson.datatype.jackson-datatype-guava" version="2.15.4"/>
      <unit id="com.fasterxml.jackson.datatype.jackson-datatype-joda" version="2.15.4"/>
      <unit id="com.fasterxml.jackson.datatype.jackson-datatype-json-org" version="2.15.4"/>
      <unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base" version="2.15.4"/>
      <unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" version="2.15.4"/>
      <unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-xml-provider" version="2.15.4"/>
      <unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="2.15.4"/>
      <unit id="com.fasterxml.jackson.module.jackson-module-jsonSchema" version="2.15.4"/>
      <unit id="com.fasterxml.woodstox.woodstox-core" version="6.7.0"/>
      <unit id="com.github.ben-manes.caffeine" version="3.1.8"/>
      <unit id="com.github.librepdf.openpdf" version="1.3.39"/>
      <unit id="com.github.librepdf.openpdf-fonts-extra" version="1.3.39"/>
      <unit id="com.google.gson" version="2.9.0"/>
      <unit id="com.google.guava" version="33.2.1.jre"/>
      <unit id="com.google.guava.failureaccess" version="1.0.1"/>
      <unit id="com.google.http-client.google-http-client" version="1.44.2"/>
      <unit id="com.google.http-client.google-http-client.source" version="1.44.2"/>
      <unit id="com.google.oauth-client" version="1.36.0"/>
      <unit id="com.google.oauth-client.source" version="1.36.0"/>
      <unit id="com.google.zxing.core" version="3.4.1"/>
      <unit id="com.ibm.icu" version="69.1.0"/>
      <unit id="com.sun.activation.jakarta.activation" version="1.2.2"/>
      <unit id="com.sun.istack.commons-runtime" version="3.0.12"/>
      <unit id="com.sun.jna" version="5.14.0"/>
      <unit id="com.sun.mail.gimap" version="1.6.7"/>
      <unit id="com.sun.mail.jakarta.mail" version="1.6.7"/>
      <unit id="com.sun.xml.bind.external.relaxng-datatype" version="2.3.5"/>
      <unit id="com.sun.xml.bind.jaxb-impl" version="2.3.5"/>
      <unit id="com.sun.xml.fastinfoset.FastInfoset" version="2.0.0"/>
      <unit id="com.sun.xml.fastinfoset.FastInfoset.source" version="2.0.0"/>
      <unit id="com.sun.xml.messaging.saaj.impl" version="1.5.3"/>
      <unit id="com.sun.xml.stream.buffer.streambuffer" version="1.5.10"/>
      <unit id="com.sun.xml.ws.jaxws-rt" version="2.3.5"/>
      <unit id="com.sun.xml.ws.policy" version="2.7.10"/>
      <unit id="com.zaxxer.HikariCP" version="5.1.0"/>
      <unit id="groovy" version="3.0.8"/>
      <unit id="groovy-console" version="3.0.8"/>
      <unit id="groovy-datetime" version="3.0.8"/>
      <unit id="groovy-json" version="3.0.8"/>
      <unit id="groovy-jsr223" version="3.0.8"/>
      <unit id="groovy-nio" version="3.0.8"/>
      <unit id="groovy-sql" version="3.0.8"/>
      <unit id="groovy-xml" version="3.0.8"/>
      <unit id="io.github.classgraph.classgraph" version="4.8.147"/>
      <unit id="jakarta.annotation-api" version="1.3.5"/>
      <unit id="jakarta.jws-api" version="2.1.0"/>
      <unit id="jakarta.persistence-api" version="2.2.3"/>
      <unit id="jakarta.transaction-api" version="1.3.3"/>
      <unit id="jakarta.validation.jakarta.validation-api" version="2.0.2"/>
      <unit id="jakarta.ws.rs-api" version="2.1.6"/>
      <unit id="jakarta.xml.bind-api" version="2.3.3"/>
      <unit id="jakarta.xml.soap-api" version="1.4.2"/>
      <unit id="jakarta.xml.ws-api" version="2.3.3.v202109010034"/>
      <unit id="jakarta.xml.ws-api.source" version="2.3.3.v202109010034"/>
      <unit id="javassist" version="3.25.0.GA"/>
      <unit id="javax.enterprise.cdi-api" version="2.0.0.SP1"/>
      <unit id="javax.interceptor-api" version="1.2.2"/>
      <unit id="javax.security.auth.message-api" version="1.1.3"/>
      <unit id="javax.servlet.jsp.jstl-api" version="1.2.7"/>
      <unit id="javax.validation.api" version="1.1.0.Final"/>
      <unit id="javax.websocket-api" version="1.1.0"/>
      <unit id="javax.xml" version="1.3.4.v201005080400"/>
      <unit id="jaxen" version="2.0.0"/>
      <unit id="joda-time" version="2.10.14"/>
      <unit id="json" version="20231013.0.0"/>
      <unit id="junit-jupiter-api" version="5.9.1"/>
      <unit id="junit-jupiter-engine" version="5.9.1"/>
      <unit id="junit-jupiter-migrationsupport" version="5.9.1"/>
      <unit id="junit-jupiter-params" version="5.9.1"/>
      <unit id="junit-platform-commons" version="1.9.1"/>
      <unit id="junit-platform-engine" version="1.9.1"/>
      <unit id="junit-platform-launcher" version="1.9.1"/>
      <unit id="junit-platform-runner" version="1.9.1"/>
      <unit id="junit-platform-suite-api" version="1.9.1"/>
      <unit id="junit-platform-suite-commons" version="1.9.1"/>
      <unit id="junit-platform-suite-engine" version="1.9.1"/>
      <unit id="junit-vintage-engine" version="5.9.1"/>
      <unit id="net.sf.jasperreports.engine" version="6.21.0"/>
      <unit id="net.sf.supercsv.super-csv" version="2.4.0"/>
      <unit id="org.antlr.antlr4-runtime" version="4.9.2"/>
      <unit id="org.apache.activemq.activemq-client" version="5.16.7"/>
      <unit id="org.apache.ant" version="1.10.12.v20211102-1452"/>
      <unit id="org.apache.aries.spifly.dynamic.bundle" version="1.3.7"/>
      <unit id="org.apache.commons.collections" version="3.2.2"/>
      <unit id="org.apache.commons.commons-beanutils" version="1.9.4"/>
      <unit id="org.apache.commons.commons-codec" version="1.16.1"/>
      <unit id="org.apache.commons.commons-collections4" version="4.4.0"/>
      <unit id="org.apache.commons.commons-compress" version="1.21.0"/>
      <unit id="org.apache.commons.commons-configuration2" version="2.10.1"/>
      <unit id="org.apache.commons.commons-fileupload" version="1.5.0"/>
      <unit id="org.apache.commons.commons-fileupload2-core" version="2.0.0.M2"/>
      <unit id="org.apache.commons.commons-fileupload2-javax" version="2.0.0.M2"/>
      <unit id="org.apache.commons.commons-io" version="2.15.1"/>
      <unit id="org.apache.commons.commons-net" version="3.8.0"/>
      <unit id="org.apache.commons.commons-text" version="1.10.0"/>
      <unit id="org.apache.commons.digester" version="2.1.0"/>
      <unit id="org.apache.commons.discovery" version="0.5.0"/>
      <unit id="org.apache.commons.lang" version="2.6.0"/>
      <unit id="org.apache.commons.lang3" version="3.12.0"/>
      <unit id="org.apache.commons.logging" version="1.2.0"/>
      <unit id="org.apache.commons.math3" version="3.6.1"/>
      <unit id="org.apache.cxf.cxf-core" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-bindings-soap" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-bindings-xml" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-databinding-jaxb" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-databinding-xmlbeans" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-databinding-xmlbeans.source" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-frontend-jaxrs" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-frontend-jaxws" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-frontend-simple" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-rs-extension-providers" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-rs-extension-providers.source" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-rs-service-description" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-security" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-transports-http" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-ws-addr" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-ws-policy" version="3.6.3"/>
      <unit id="org.apache.cxf.cxf-rt-wsdl" version="3.6.3"/>
      <unit id="org.apache.felix.gogo.command" version="1.1.2"/>
      <unit id="org.apache.felix.gogo.runtime" version="1.1.6"/>
      <unit id="org.apache.felix.gogo.shell" version="1.1.4"/>
      <unit id="org.apache.felix.scr" version="2.2.6"/>
      <unit id="org.apache.felix.webconsole" version="4.6.4.v202109010034"/>
      <unit id="org.apache.felix.webconsole.source" version="4.6.4.v202109010034"/>
      <unit id="org.apache.geronimo.specs.geronimo-j2ee-management_1.1_spec" version="1.0.1"/>
      <unit id="org.apache.geronimo.specs.geronimo-jms_1.1_spec" version="1.1.1"/>
      <unit id="org.apache.httpcomponents.client5.httpclient5" version="5.1.3.v20221013-1742"/>
      <unit id="org.apache.httpcomponents.core5.httpcore5" version="5.1.4.v20221013-1742"/>
      <unit id="org.apache.httpcomponents.core5.httpcore5-h2" version="5.1.4.v20221013-1742"/>
      <unit id="org.apache.httpcomponents.httpclient" version="4.5.13"/>
      <unit id="org.apache.httpcomponents.httpcore" version="4.4.14"/>
      <unit id="org.apache.logging.log4j.api" version="2.23.1"/>
      <unit id="org.apache.logging.log4j.to.slf4j" version="2.23.1"/>
      <unit id="org.apache.neethi" version="3.2.0"/>
      <unit id="org.apache.pdfbox" version="2.0.22"/>
      <unit id="org.apache.pdfbox.fontbox" version="2.0.22"/>
      <unit id="org.apache.servicemix.bundles.batik" version="1.16.0.1"/>
      <unit id="org.apache.servicemix.bundles.cglib" version="3.3.0.1"/>
      <unit id="org.apache.servicemix.bundles.rhino" version="1.7.13.1"/>
      <unit id="org.apache.servicemix.bundles.xerces" version="2.12.1.1"/>
      <unit id="org.apache.ws.xmlschema.core" version="2.3.1"/>
      <unit id="org.apache.xml.resolver" version="1.2.0.v20220715-1206"/>
      <unit id="org.apache.xml.serializer" version="2.7.2.v20220406-0601"/>
      <unit id="org.apiguardian.api" version="1.1.2"/>
      <unit id="org.atmosphere.runtime" version="2.7.2.v202109010034"/>
      <unit id="org.atmosphere.runtime.source" version="2.7.2.v202109010034"/>
      <unit id="org.codehaus.jettison.jettison" version="1.5.4"/>
      <unit id="org.cryptacular" version="1.2.4"/>
      <unit id="org.eclipse.ant.core" version="3.7.100.v20230731-0828"/>
      <unit id="org.eclipse.core.commands" version="3.11.100.v20230708-0916"/>
      <unit id="org.eclipse.core.contenttype" version="3.9.100.v20230630-1232"/>
      <unit id="org.eclipse.core.expressions" version="3.9.100.v20230726-0617"/>
      <unit id="org.eclipse.core.filesystem" version="1.10.100.v20230717-1727"/>
      <unit id="org.eclipse.core.jobs" version="3.15.0.v20230808-1403"/>
      <unit id="org.eclipse.core.net" version="1.5.100.v20230630-1232"/>
      <unit id="org.eclipse.core.resources" version="3.19.100.v20230814-1312"/>
      <unit id="org.eclipse.core.runtime" version="3.29.0.v20230726-0617"/>
      <unit id="org.eclipse.core.variables" version="3.6.100.v20230726-0617"/>
      <unit id="org.eclipse.ecf" version="3.11.0.v20230507-1923"/>
      <unit id="org.eclipse.ecf.filetransfer" version="5.1.102.v20210409-2301"/>
      <unit id="org.eclipse.ecf.identity" version="3.10.0.v20230422-0242"/>
      <unit id="org.eclipse.ecf.provider.filetransfer" version="3.3.0.v20230422-0242"/>
      <unit id="org.eclipse.ecf.provider.filetransfer.httpclient5" version="1.1.0.v20230423-0417"/>
      <unit id="org.eclipse.ecf.provider.filetransfer.ssl" version="1.1.0.v20230422-0242"/>
      <unit id="org.eclipse.equinox.app" version="1.6.300.v20230630-1303"/>
      <unit id="org.eclipse.equinox.cm" version="1.5.200.v20230120-0604"/>
      <unit id="org.eclipse.equinox.common" version="3.18.100.v20230730-1117"/>
      <unit id="org.eclipse.equinox.concurrent" version="1.2.100.v20211021-1418"/>
      <unit id="org.eclipse.equinox.console" version="1.4.500.v20211021-1418"/>
      <unit id="org.eclipse.equinox.event" version="1.6.200.v20230120-0604"/>
      <unit id="org.eclipse.equinox.frameworkadmin" version="2.2.200.v20230630-1506"/>
      <unit id="org.eclipse.equinox.frameworkadmin.equinox" version="1.2.400.v20230630-1506"/>
      <unit id="org.eclipse.equinox.http.registry" version="1.3.300.v20230630-1303"/>
      <unit id="org.eclipse.equinox.http.servlet" version="1.7.400.v20221006-1531"/>
      <unit id="org.eclipse.equinox.http.servletbridge" version="1.2.200.v20220710-1223"/>
      <unit id="org.eclipse.equinox.launcher" version="1.6.500.v20230717-2134"/>
      <unit id="org.eclipse.equinox.launcher.cocoa.macosx.x86_64" version="1.2.700.v20221108-1024"/>
      <unit id="org.eclipse.equinox.launcher.gtk.linux.x86_64" version="1.2.700.v20221108-1024"/>
      <unit id="org.eclipse.equinox.launcher.win32.win32.x86_64" version="1.2.700.v20221108-1024"/>
      <unit id="org.eclipse.equinox.metatype" version="1.6.300.v20230120-0604"/>
      <unit id="org.eclipse.equinox.p2.artifact.repository" version="1.5.100.v20230630-1506"/>
      <unit id="org.eclipse.equinox.p2.console" version="1.3.100.v20230630-1506"/>
      <unit id="org.eclipse.equinox.p2.core" version="2.10.100.v20230814-2013"/>
      <unit id="org.eclipse.equinox.p2.director" version="2.6.100.v20230718-0609"/>
      <unit id="org.eclipse.equinox.p2.director.app" version="1.3.100.v20230630-1506"/>
      <unit id="org.eclipse.equinox.p2.engine" version="2.8.100.v20230630-1506"/>
      <unit id="org.eclipse.equinox.p2.garbagecollector" version="1.3.100.v20230630-1506"/>
      <unit id="org.eclipse.equinox.p2.jarprocessor" version="1.3.200.v20230630-1506"/>
      <unit id="org.eclipse.equinox.p2.metadata" version="2.7.100.v20230630-1506"/>
      <unit id="org.eclipse.equinox.p2.metadata.repository" version="1.5.100.v20230630-1506"/>
      <unit id="org.eclipse.equinox.p2.operations" version="2.7.100.v20230630-1506"/>
      <unit id="org.eclipse.equinox.p2.repository" version="2.7.100.v20230710-0621"/>
      <unit id="org.eclipse.equinox.p2.touchpoint.eclipse" version="2.4.100.v20230630-1506"/>
      <unit id="org.eclipse.equinox.p2.touchpoint.natives" version="1.5.100.v20230630-1506"/>
      <unit id="org.eclipse.equinox.p2.transport.ecf" version="1.4.100.v20230630-1506"/>
      <unit id="org.eclipse.equinox.preferences" version="3.10.300.v20230630-1303"/>
      <unit id="org.eclipse.equinox.registry" version="3.11.300.v20230801-1826"/>
      <unit id="org.eclipse.equinox.security" version="1.4.0.v20230630-1303"/>
      <unit id="org.eclipse.equinox.servletbridge" version="1.6.300.v20230622-2056"/>
      <unit id="org.eclipse.equinox.simpleconfigurator" version="1.4.300.v20230630-1506"/>
      <unit id="org.eclipse.equinox.simpleconfigurator.manipulator" version="2.2.200.v20230630-1506"/>
      <unit id="org.eclipse.jdt.core" version="3.35.0.v20230814-1356"/>
      <unit id="org.eclipse.jdt.core.compiler.batch" version="3.35.0.v20230814-2020"/>
      <unit id="org.eclipse.jdt.junit.runtime" version="3.7.200.v20230627-0107"/>
      <unit id="org.eclipse.jetty.alpn.client" version="12.0.11"/>
      <unit id="org.eclipse.jetty.client" version="12.0.11"/>
      <unit id="org.eclipse.jetty.deploy" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.annotations" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.apache-jsp" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.glassfish.jstl" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.jndi" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.osgi.boot" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.osgi.boot.jsp" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.plus" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.proxy" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.security" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.security.jaspi" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.server" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.servlet" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.servlets" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.webapp" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.websocket.api" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.websocket.common" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.websocket.javax.client" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.websocket.javax.common" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.websocket.javax.server" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.websocket.server" version="12.0.11"/>
      <unit id="org.eclipse.jetty.ee8.websocket.servlet" version="12.0.11"/>
      <unit id="org.eclipse.jetty.http" version="12.0.11"/>
      <unit id="org.eclipse.jetty.http.spi" version="12.0.11"/>
      <unit id="org.eclipse.jetty.http2.common" version="12.0.11"/>
      <unit id="org.eclipse.jetty.http2.hpack" version="12.0.11"/>
      <unit id="org.eclipse.jetty.http2.server" version="12.0.11"/>
      <unit id="org.eclipse.jetty.http3.common" version="12.0.11"/>
      <unit id="org.eclipse.jetty.http3.qpack" version="12.0.11"/>
      <unit id="org.eclipse.jetty.http3.server" version="12.0.11"/>
      <unit id="org.eclipse.jetty.io" version="12.0.11"/>
      <unit id="org.eclipse.jetty.jmx" version="12.0.11"/>
      <unit id="org.eclipse.jetty.jndi" version="12.0.11"/>
      <unit id="org.eclipse.jetty.keystore" version="12.0.11"/>
      <unit id="org.eclipse.jetty.osgi" version="12.0.11"/>
      <unit id="org.eclipse.jetty.plus" version="12.0.11"/>
      <unit id="org.eclipse.jetty.proxy" version="12.0.11"/>
      <unit id="org.eclipse.jetty.quic.common" version="12.0.11"/>
      <unit id="org.eclipse.jetty.quic.quic-quiche-common" version="12.0.11"/>
      <unit id="org.eclipse.jetty.quic.quic-quiche-jna" version="12.0.11"/>
      <unit id="org.eclipse.jetty.quic.server" version="12.0.11"/>
      <unit id="org.eclipse.jetty.rewrite" version="12.0.11"/>
      <unit id="org.eclipse.jetty.security" version="12.0.11"/>
      <unit id="org.eclipse.jetty.server" version="12.0.11"/>
      <unit id="org.eclipse.jetty.servlet-api" version="4.0.6"/>
      <unit id="org.eclipse.jetty.servlet-api.capability" version="4.0.6.v202407080243"/>
      <unit id="org.eclipse.jetty.session" version="12.0.11"/>
      <unit id="org.eclipse.jetty.util" version="12.0.11"/>
      <unit id="org.eclipse.jetty.util.ajax" version="12.0.11"/>
      <unit id="org.eclipse.jetty.websocket-api" version="1.1.2"/>
      <unit id="org.eclipse.jetty.websocket.core.client" version="12.0.11"/>
      <unit id="org.eclipse.jetty.websocket.core.common" version="12.0.11"/>
      <unit id="org.eclipse.jetty.websocket.core.server" version="12.0.11"/>
      <unit id="org.eclipse.jetty.xml" version="12.0.11"/>
      <unit id="org.eclipse.osgi" version="3.18.500.v20230801-1826"/>
      <unit id="org.eclipse.osgi.compatibility.state" version="1.2.800.v20221116-1440"/>
      <unit id="org.eclipse.osgi.util" version="3.7.200.v20230103-1101"/>
      <unit id="org.eclipse.pde.junit.runtime" version="3.7.100.v20230728-0611"/>
      <unit id="org.eclipse.text" version="3.13.100.v20230801-1334"/>
      <unit id="org.fusesource.hawtbuf.hawtbuf" version="1.11.0"/>
      <unit id="org.glassfish.external.management-api" version="3.2.3"/>
      <unit id="org.glassfish.gmbal.gmbal" version="4.0.3"/>
      <unit id="org.glassfish.ha.ha-api" version="3.1.13"/>
      <unit id="org.glassfish.hk2.api" version="2.6.1"/>
      <unit id="org.glassfish.hk2.external.aopalliance-repackaged" version="2.6.1"/>
      <unit id="org.glassfish.hk2.external.jakarta.inject" version="2.6.1"/>
      <unit id="org.glassfish.hk2.locator" version="2.6.1"/>
      <unit id="org.glassfish.hk2.osgi-resource-locator" version="1.0.3"/>
      <unit id="org.glassfish.hk2.utils" version="2.6.1"/>
      <unit id="org.glassfish.jersey.containers.jersey-container-servlet-core" version="2.34.0"/>
      <unit id="org.glassfish.jersey.core.jersey-client" version="2.34.0"/>
      <unit id="org.glassfish.jersey.core.jersey-common" version="2.34.0"/>
      <unit id="org.glassfish.jersey.core.jersey-server" version="2.34.0"/>
      <unit id="org.glassfish.jersey.ext.jersey-entity-filtering" version="2.34.0"/>
      <unit id="org.glassfish.jersey.inject.jersey-hk2" version="2.34.0"/>
      <unit id="org.glassfish.jersey.media.jersey-media-json-jackson" version="2.34.0"/>
      <unit id="org.glassfish.pfl.pfl-asm" version="4.1.0"/>
      <unit id="org.glassfish.pfl.pfl-basic" version="4.1.2"/>
      <unit id="org.glassfish.pfl.pfl-dynamic" version="4.1.2"/>
      <unit id="org.glassfish.pfl.pfl-tf" version="4.1.2"/>
      <unit id="org.glassfish.web.javax.servlet.jsp.jstl" version="1.2.5"/>
      <unit id="org.hamcrest.core" version="1.3.0.v20230809-1000"/>
      <unit id="org.junit" version="4.13.2.v20230809-1000"/>
      <unit id="org.jvnet.mimepull" version="1.9.14"/>
      <unit id="org.jvnet.staxex.stax-ex" version="1.8.3"/>
      <unit id="org.krysalis.barcode4j" version="2.1.0"/>
      <unit id="org.mortbay.jasper.apache-el" version="9.0.90"/>
      <unit id="org.mortbay.jasper.apache-jsp" version="9.0.90"/>
      <unit id="org.objectweb.asm" version="9.7.0"/>
      <unit id="org.objectweb.asm.commons" version="9.7.0"/>
      <unit id="org.objectweb.asm.tree" version="9.7.0"/>
      <unit id="org.objectweb.asm.tree.analysis" version="9.7.0"/>
      <unit id="org.objectweb.asm.util" version="9.7.0"/>
      <unit id="org.opentest4j" version="1.3.0"/>
      <unit id="org.osgi.annotation.bundle" version="2.0.0.202202082230"/>
      <unit id="org.osgi.annotation.versioning" version="1.1.2.202109301733"/>
      <unit id="org.osgi.service.cm" version="1.6.1.202109301733"/>
      <unit id="org.osgi.service.component" version="1.5.1.202212101352"/>
      <unit id="org.osgi.service.component.annotations" version="1.5.1.202212101352"/>
      <unit id="org.osgi.service.coordinator" version="1.0.2.201505202024"/>
      <unit id="org.osgi.service.device" version="1.1.1.202109301733"/>
      <unit id="org.osgi.service.event" version="1.4.1.202109301733"/>
      <unit id="org.osgi.service.http" version="1.2.2.202109301733"/>
      <unit id="org.osgi.service.http.whiteboard" version="1.1.1.202109301733"/>
      <unit id="org.osgi.service.log.stream" version="1.0.0.202109301733"/>
      <unit id="org.osgi.service.metatype" version="1.4.1.202109301733"/>
      <unit id="org.osgi.service.metatype.annotations" version="1.4.1.202109301733"/>
      <unit id="org.osgi.service.prefs" version="1.1.2.202109301733"/>
      <unit id="org.osgi.service.provisioning" version="1.2.0.201505202024"/>
      <unit id="org.osgi.service.upnp" version="1.2.1.202109301733"/>
      <unit id="org.osgi.service.useradmin" version="1.1.1.202109301733"/>
      <unit id="org.osgi.service.wireadmin" version="1.0.2.202109301733"/>
      <unit id="org.osgi.util.function" version="1.2.0.202109301733"/>
      <unit id="org.osgi.util.measurement" version="1.0.2.201802012109"/>
      <unit id="org.osgi.util.position" version="1.0.1.201505202026"/>
      <unit id="org.osgi.util.promise" version="1.3.0.202212101352"/>
      <unit id="org.osgi.util.pushstream" version="1.1.0.202212101352"/>
      <unit id="org.osgi.util.tracker" version="1.5.4.202109301733"/>
      <unit id="org.osgi.util.xml" version="1.0.2.202109301733"/>
      <unit id="org.passay" version="1.6.1"/>
      <unit id="org.postgresql.jdbc" version="42.7.3"/>
      <unit id="org.sat4j.core" version="2.3.6.v20201214"/>
      <unit id="org.sat4j.pb" version="2.3.6.v20201214"/>
      <unit id="org.tukaani.xz" version="1.9.0"/>
      <unit id="org.w3c.css.sac" version="1.3.1.v200903091627"/>
      <unit id="org.w3c.dom.events" version="3.0.0.draft20060413_v201105210656"/>
      <unit id="org.w3c.dom.smil" version="1.0.1.v200903091627"/>
      <unit id="org.w3c.dom.svg" version="1.1.0.v201011041433"/>
      <unit id="org.zkoss.zsoup" version="1.8.2.5"/>
      <unit id="slf4j.api" version="2.0.12"/>
      <unit id="slf4j.jdk14" version="2.0.12"/>
      <unit id="stax2-api" version="4.2.1"/>
      <unit id="wrapped.com.google.http-client.google-http-client-gson" version="1.39.2.sp1"/>
      <unit id="wrapped.com.google.zxing.javase" version="3.4.1"/>
      <unit id="wrapped.com.oracle.database.jdbc.ojdbc10" version="19.21.0.0"/>
      <unit id="wrapped.com.sun.net.httpserver.http" version="20070405.0.0"/>
      <unit id="wrapped.com.sun.org.apache.xml.internal.resolver" version="20050927.0.0"/>
      <unit id="wrapped.com.zaxxer.SparseBitSet" version="1.2.0"/>
      <unit id="wrapped.dev.samstevens.totp.totp" version="1.7.1"/>
      <unit id="wrapped.io.grpc.grpc-context" version="1.27.2"/>
      <unit id="wrapped.io.opencensus.opencensus-api" version="0.28.0"/>
      <unit id="wrapped.io.opencensus.opencensus-contrib-http-util" version="0.28.0"/>
      <unit id="wrapped.net.sourceforge.barbecue.barbecue" version="1.5.0.beta1"/>
      <unit id="wrapped.org.apache.activemq.activemq-jaas" version="5.16.7"/>
      <unit id="wrapped.org.apache.activemq.activemq-kahadb-store" version="5.16.7"/>
      <unit id="wrapped.org.apache.activemq.activemq-openwire-legacy" version="5.16.7"/>
      <unit id="wrapped.org.apache.activemq.protobuf.activemq-protobuf" version="1.1.0"/>
      <unit id="wrapped.org.apache.cxf.cxf-rt-ws-transfer" version="3.6.3"/>
      <unit id="wrapped.org.apache.lucene.lucene-analyzers-common" version="8.4.1"/>
      <unit id="wrapped.org.apache.lucene.lucene-core" version="8.4.1"/>
      <unit id="wrapped.org.apache.poi.poi" version="5.2.2"/>
      <unit id="wrapped.org.apache.poi.poi-ooxml" version="5.2.2"/>
      <unit id="wrapped.org.apache.poi.poi-ooxml-lite" version="5.2.2"/>
      <unit id="wrapped.org.apache.xmlbeans.xmlbeans" version="5.0.3"/>
      <unit id="wrapped.org.apache.xmlgraphics.xmlgraphics-commons" version="2.6.0"/>
      <unit id="wrapped.org.dom4j.dom4j" version="2.1.3"/>
      <unit id="wrapped.org.glassfish.jaxb.txw2" version="2.3.5"/>
      <unit id="wrapped.org.jfree.jcommon" version="1.0.24"/>
      <unit id="wrapped.org.jfree.jfreechart" version="1.0.19"/>
      <unit id="wrapped.org.springframework.spring-aop" version="5.3.27"/>
      <unit id="wrapped.org.springframework.spring-beans" version="5.3.27"/>
      <unit id="wrapped.org.springframework.spring-context" version="5.3.27"/>
      <unit id="wrapped.org.springframework.spring-context-support" version="5.3.27"/>
      <unit id="wrapped.org.springframework.spring-core" version="5.3.27"/>
      <unit id="wrapped.org.springframework.spring-expression" version="5.3.27"/>
      <unit id="wrapped.org.springframework.spring-web" version="5.3.27"/>
      <unit id="wrapped.wsdl4j.wsdl4j" version="1.6.3"/>
      <unit id="wrapped.xalan.xalan" version="2.7.3"/>
      <unit id="xstream" version="1.4.20"/>
      <unit id="zcommon" version="10.0.1"/>
      <unit id="zel" version="10.0.1"/>
      <unit id="zhtml" version="10.0.1"/>
      <unit id="zk" version="10.0.1"/>
      <unit id="zkbind" version="10.0.1"/>
      <unit id="zkplus" version="10.0.1"/>
      <unit id="zkwebfragment" version="10.0.1"/>
      <unit id="zul" version="10.0.1"/>
      <unit id="zweb" version="10.0.1"/>
      <unit id="zweb-dsp" version="10.0.1"/>
      <repository id="all" location="file:/mnt/data/1Dev/idempiere-source/p2/2502-12-release/dev"/>
    </location>
  </locations>
</target>
