<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target name="idempiere-12-dev" sequenceNumber="1739676264">
	<locations>
		<location path="/mnt/data/1Dev/idempiere-source/p2/2502-12-ntier/mirror" type="Directory"/>
	</locations>
</target>